<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding">
			<div class="opaque-bg inner-padding tile-thumb stories-tile" (click)="navigateToStories($event)">
				<i class="fa fa-book fa-3x" aria-hidden="true"></i>
				<span class="tile-name">Stories</span>
				<div class="tile-info">Check what stories, photos, music, videos people posted.</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding"><div class="opaque-bg inner-padding tile-thumb entertainment-tile" (click)="navigateToEntertainment($event)">
			<i class="fa fa-television fa-3x" aria-hidden="true"></i><span class="tile-name">Entertainment</span>
			<div class="tile-info">View & upload photos, music, videos.</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding">
			<div class="opaque-bg inner-padding tile-thumb people-tile" (click)="navigateToPeople($event)">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
				<span class="tile-name">People</span>
				<div class="tile-info">Find people from your locality or any where across the world.</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding">
			<div class="opaque-bg inner-padding tile-thumb market-tile" (click)="navigateToMarket($event)">
				<i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
				<span class="tile-name">Market</span>
				<div class="tile-info">Buy, sale, advertise any item.</div>
			</div>
		</div>
	</div>
</div>
