.story-feed{
	padding: 5px;
}
.story-box{
	height: 100px;
	padding: 3px ;
	border: 1px solid #e6e6e6;
}
.profile-pic{
    margin: 0px 2px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 5px;
    border-radius: 50%;
}
.control-bar{
	margin: 6px 0px 1px 0px;
	font-size: 9px;
}
.post-button{
    margin-left: 5px;
}
.post-btn{
    width: auto;
    height: 17px;
    border-radius: 0px;
    padding: 0px 3px !important;
    line-height: 12px;
    font-size: 12px !important;
    background-color: #fff !important;
    border: 1px solid #2b90d9 !important;
    color: #2b90d9 !important;
    background: #d9e1e8 !important;
    height: 30px;
    border-radius: 3px;
}
.post-btn:hover *{
    color: red;
}
.post-btn:hover{
    border: 1px solid red !important;
}
.file-input-container{
    display: none;
}
.modal{
    width: 500px !important;
    height: 500px !important;  
}
#previewMusicPlayer{
    height: 189px;
    background: #000;
}
app-feeditem{
    float: left;
    width: 100%;
    min-height: 60px;
    border: 1px solid #e6e6e6;
    margin: 5px 0px 0px 0px;
    border-radius: 3px;
    padding: 5px;
}
.preview-posted-pic{
    width: 300px;
    height: 300px;
    background-size: cover !important;
}
.post-desc-content{
    margin-top: 5px;
}
.action-bar{
    margin-left: -5px;
}
.fa-map-marker{
    font-size: 14px;
}
.text-styles{
    margin: 40px 35px;
    position: absolute;
    width: 112px;
}
.comment-box{
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.comment-box .story-box{
    height: 60px;
    width: 275px;
    padding-right: 15px;
}
.comment-box .control-bar{
    width: 100%;
}
.font-sizes{
    height: 100px;
    overflow: auto;
}

#emotionArrow{
    margin: 30px 80px;
}