.story-feed{
	padding: 6px 6px 0px 57px;
}
.story-box{
	height: 100px;
	padding: 3px ;
	border: 1px solid #2b90d9;
}
.profile-pic{
    margin: 0px 2px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 5px;
    border-radius: 50%;
}
.control-bar{
	margin: 6px 0px 1px 0px;
	font-size: 9px;
}
.color-picker-icon{
	border: 1px solid #2b90d9;
}
.color-picker-icon input{
    border: 2px solid #d2d2d2;
    outline: none;
    height: 15px;
    width: 15px;
    color: transparent;
}
.color-picker-icon:hover{
	color: transparent !important;
}
.font-items{
	margin: 10px -8px;
    font-size: 11px;
    max-height: 100px;
    overflow-y: auto;
}
.font-family-btn{
    border: 1px solid #2b90d9;
    font-size: 7px;
    width: 17px;
    height: 17px;
    margin: 0px 5px;
}
.up-img-btn, .up-mus-btn, .up-vid-btn{
    border: 1px solid #2b90d9;
    font-size: 11px;
    width: 17px;
    height: 17px;
    margin: 0px 0px 0px 5px;
}
.font-size-btn{
    border: 1px solid #2b90d9;
    font-size:11px;
    width: 32px;
    height: 17px;
}
.font-family-btn i{
	margin-left: 1px;
}
.font-family-btn:hover, .font-size-btn:hover, .font-bold-btn:hover,
.font-ul-btn:hover, .font-italic-btn:hover, .smiley-btn:hover,
.up-img-btn:hover, .up-mus-btn:hover, .up-vid-btn:hover{
	border: 1px solid red;
}
.font-bold-btn:hover span, .font-ul-btn:hover span, .font-italic-btn:hover span, .smiley-btn:hover i,
.up-img-btn:hover i, .up-mus-btn:hover i, .up-vid-btn:hover i{
	color: red;
}
.font-family-btn:hover i, .font-size-btn:hover span{
	color: red !important;
}
.font-bold-btn, .font-ul-btn, .font-italic-btn, .smiley-btn{
	border: 1px solid #2b90d9;
    font-size: 11px;
    width: 17px;
    height: 17px;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
}
.color-picker .arrow-right{
	top: 5px !important;
}
.high-light{
    border: 1px solid red;
}
.high-light *{
    color: red;
}
.emo-list .list-item{
    width: 25px !important;
    margin: 2px 0px;
}
.emo-list{
    width: 102px !important;
}
#postBtn{
    width: auto;
    height: 17px;
    border-radius: 0px;
    padding: 0px 3px !important;
    line-height: 12px;
    font-size: 12px !important;
    background-color: #fff !important;
    border: 1px solid #2b90d9 !important;
    color: #2b90d9 !important;
    background: #d9e1e8 !important;
}
#postBtn:hover *{
    color: red;
}
#postBtn:hover{
    border: 1px solid red !important;
}
.file-input-container{
    display: none;
}
.modal{
    width: 500px !important;
    height: 500px !important;  
}
#previewMusicPlayer{
    height: 189px;
    background: #000;
}
app-feeditem{
    float: left;
    width: 100%;
    min-height: 60px;
    border: 1px solid #e6e6e6;
    margin: 3px 0px;
    border-radius: 3px;
    padding: 3px;
}
.preview-posted-pic{
    width: 300px;
    height: 300px;
    background-size: cover !important;
}
.post-desc-content{
    margin-top: 5px;
}
.action-bar{
    margin-left: -5px;
}