<div class="inline-block colw100 story-feed">
	<div class="profile-pic no-padding pull-left contain-bg" [ngStyle]="{ 'background-image': 'url(' + profilePic + ')'}">
	</div>
	<div name="story" id="storyBox" class="story-box colw100 inline-block no-outline auto-overflow pull-left" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" data-placeholder-default="What’s happening?" aria-autocomplete="list" aria-expanded="false">
	</div>
	<input [colorPicker]="color" (colorPickerChange)="color=$event" [style.background]="color" [value]="color"/>
</div>