<div name="story" #commentBox class="comment-box colw100 inline-block no-outline auto-overflow pull-left" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" data-placeholder-default="Add Comment" aria-autocomplete="list" aria-expanded="false" [style.color]="color" [style.font-family]="fontFamily" [style.font-size]="fontSize" [style.font-weight]="fontWeight" [style.text-decoration]="txtDeco" [style.font-style]="fontStyle"  [innerHTML]="storyContent" 
	(keyup)="onStoryContentChange($event)" (keydown)="onStoryContentChanged($event.keyCode)"></div>
<div class="control-bar inline-block">
	<div class="pull-left color-picker-icon">
		<input [colorPicker]="color" (colorPickerChange)="color=$event; colorPickerChange($event);" [style.background]="color" class="cursor-pointer"/>
	</div>
	<div class="pull-left font-family-btn" (click)="toggleFontFamily($event); clickedInside($event);">
		<div>
			<i class="fa fa-font fa-2x blue-fonts cursor-pointer"></i>
		</div>
		<div *ngIf="isShowFontFamily; then fontFamilies"></div>
		<ng-template #fontFamilies>
			<div class="list-items font-items pull-left">
				<div class="arrow-up white-bg"></div>
				<div class="cursor-pointer list-item" (click)="applyFontFamily($event, 'Arial')">Arial</div>
				<div class="cursor-pointer list-item" (click)="applyFontFamily($event, 'Times New Roman')">Times New Roman</div>
				<div class="cursor-pointer list-item" (click)="applyFontFamily($event, 'Courier New')">Courier New</div>
			</div>
		</ng-template>
	</div>
	<div class="pull-left font-size-btn" (click)="clickedInside($event)">
		<div class="blue-fonts cursor-pointer text-center" (click)="toggleFontSize($event)"><span>{{fontSize}}</span></div>
		<div *ngIf="isShowFontSize; then fontSizes"></div>
		<ng-template #fontSizes>
			<div class="list-items font-items pull-left">
				<div class="arrow-up white-bg"></div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 9)">9</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 10)">10</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 11)">11</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 12)">12</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 13)">13</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 14)">14</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 15)">15</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 16)">16</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 17)">17</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 18)">18</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 19)">19</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 20)">20</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 21)">21</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 22)">22</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 23)">23</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 24)">24</div>
				<div class="cursor-pointer list-item" (click)="applyFontSize($event, 25)">25</div>
			</div>
		</ng-template>
	</div>
	<div class="pull-left font-bold-btn blue-fonts cursor-pointer text-center" [class.high-light]="isBoldBtnHighLight" (click)="applyBold($event)">
		<span>B</span>
	</div>
	<div class="pull-left font-ul-btn blue-fonts cursor-pointer text-center" [class.high-light]="isULBtnHighLight" (click)="applyUnderline($event)">
		<span>U</span>
	</div>
	<div class="pull-left font-italic-btn blue-fonts cursor-pointer text-center" [class.high-light]="isIBtnHighLight"  (click)="applyItalic($event)">
		<span>I</span>
	</div>
	<div class="pull-left smiley-btn blue-fonts cursor-pointer text-center" [class.high-light]="isEmotionsHighLight"  (click)="showEmotions($event);clickedInside($event);">
		<div>
			<i class="fa fa-smile-o"></i>
		</div>
		<div *ngIf="isEmotionsHighLight; then emotions"></div>
		<ng-template #emotions>
			<div class="list-items font-items pull-left emo-list">
				<div class="arrow-up white-bg"></div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':)')">
					<span><img src="assets/images/smileys/socialutility-emotion0-smile.gif"/></span>
				</div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':(')">
					<span><img src="assets/images/smileys/socialutility-emotion1-sadsmile.gif"/></span>
				</div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':D')">
					<span><img src="assets/images/smileys/socialutility-emotion2-bigsmile.gif"/></span>
				</div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, '8=)')">
					<span><img src="assets/images/smileys/socialutility-emotion3-cool.gif"/></span>
				</div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':o')">
					<span><img src="assets/images/smileys/socialutility-emotion4-surprised.gif"/></span>
				</div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ';)')">
					<span><img src="assets/images/smileys/socialutility-emotion5-wink.gif"/></span>
				</div>


				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ';(')">
					<span><img src="assets/images/smileys/socialutility-emotion6-crying.gif"/></span>
				</div>
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, '(:|')">
					<span><img src="assets/images/smileys/socialutility-emotion7-sweating.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':|')">
					<span><img src="assets/images/smileys/socialutility-emotion8-speechless.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':*')">
					<span><img src="assets/images/smileys/socialutility-emotion9-kiss.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, 'emotion10-tongueout')">
					<span><img src="assets/images/smileys/socialutility-emotion10-tongueout.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':$')">
					<span><img src="assets/images/smileys/socialutility-emotion11-blush.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, ':^)')">
					<span><img src="assets/images/smileys/socialutility-emotion12-wondering.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, '|-)')">
					<span><img src="assets/images/smileys/socialutility-emotion13-sleepy.gif"/></span>
				</div>					
				<div class="cursor-pointer list-item pull-left" (click)="addEmotion($event, '|(')">
					<span><img src="assets/images/smileys/socialutility-emotion14-dull.gif"/></span>
				</div>
			</div>
		</ng-template>
	</div>
	<div class="pull-left up-img-btn blue-fonts cursor-pointer text-center" (click)= "imageInput.value = ''; imageInput.click();">
		<i class="fa fa-picture-o" aria-hidden="true"></i>
	</div>
	<div class="pull-left up-mus-btn blue-fonts cursor-pointer text-center" (click)= "musicInput.value = ''; musicInput.click();">
		<i class="fa fa-music" aria-hidden="true"></i>
	</div>
	<div class="pull-left up-vid-btn blue-fonts cursor-pointer text-center" (click)= "videoInput.value = ''; videoInput.click();">
		<i class="fa fa-file-video-o" aria-hidden="true"></i>
	</div>
	<div class="checkin-btn pull-left up-vid-btn blue-fonts cursor-pointer text-center" (click)="checkIn($event)">
			<i class="fa fa-map-marker" aria-hidden="true"></i>
	</div>
	<div class="pull-left post-btn blue-fonts cursor-pointer text-center">
		<div *ngIf="isAddPost; then addPost else updatePost"></div>
		<ng-template #addPost>
			<button class="btn btn-primary" class="post-btn" type="button" (click)="postStory($event)" [disabled]="(storyBox.innerText.trim().length === 0) && (!isSmileyAdded)">
				<span>Post</span>
				<i class="fa fa-share-square-o" aria-hidden="true"></i>
			</button>
		</ng-template>
		<ng-template #updatePost>
			<button class="btn btn-primary" class="post-btn" type="button" (click)="updateStory($event)" [disabled]="(storyBox.innerText.trim().length === 0) && (!isSmileyAdded)">
				<span>Update</span>
				<i class="fa fa-share-square-o" aria-hidden="true"></i>
			</button>
		</ng-template>
	</div>
</div>