<app-private-nav></app-private-nav>
<div class="container top-margin bottom-margin">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="opaque-bg no-padding">
				<app-profile-area></app-profile-area>
				<div class="left-nav">
					<div class="nav-item" (click)="switchVideo($event)" [ngClass]="(isHighLightStories ? 'highlight-nav' : '')">
						<i class="fa fa-book blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Stories</span>
					</div>
					<div class="nav-item" [ngClass]="(isHighLightMusic ? 'highlight-nav' : '')" (click)="switchMusic($event)">
						<i class="fa fa-pencil blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Blog</span>
					</div>
					<div class="nav-item">
						<i class="fa fa-plane blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Travel</span>
					</div>

				</div>
			</div>
		</div>
		<div #checkOutContent class="col-xs-12 col-sm-9 col-md-9 col-lg-9 opaque-bg market-content">
			<div class="checkout-controlbar colw100">
				<div class="place-order pull-right" (click)="placeOrder($event)">Place your order</div>
				<div class="grand-total pull-right">Grand Total:&nbsp;Rs&nbsp;{{grandTotal}}</div>
			</div>
			<div class="checkout-content" [ngStyle]="{ 'max-height': ' ' + screenHeight + 'px'}" (scroll)="onScroll($event)" #scrollMe>
				<app-cart-tile *ngFor="let obj of checkOutItemArr" [obj]="obj" [userId]="userId" 
				(addToTotal)="addToTotal($event)"  
				(subtractFromTotal)="subtractFromTotal($event)"></app-cart-tile>
				<!--<div *ngIf="isLoading then loading"></div>
				<ng-template #loading>
					<div class="spinner-bg">
						<div class="spinner">
							<i class="fa fa-2x fa-spin fa-spinner blue-fonts"></i>
							<span class="blue-fonts">&nbsp;Loading...</span>
						</div>
					</div>
				</ng-template>
				<div *ngIf="(!isLoading && (marketItemArr.length > limit)) then endResult"></div>
				<ng-template #endResult>
					<div class="end-result blue-fonts text-center">--- End Of Result ---</div>
				</ng-template>
				-->
			</div>
		</div>
	</div>
</div>
<app-modal [modalTitle]="modalTitle" [blocking]='false' [modalId]='modalId' #addAddressModal>
	<ng-container *ngIf="isAddressAdded">
		<div class="add-payment-content">
			<div class="colw100 inline-block">
				<app-payment-info [userId]="userId"></app-payment-info>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="!isAddressAdded">
		<div class="add-address-content">
			<div class="colw100 inline-block">
				<app-address-info [userId]="userId" (addressSaved)="addressSaved($event)"></app-address-info>
			</div>
		</div>
	</ng-container>
</app-modal>
