.add-address-content, .add-payment-content{
	overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 0px 15px 0px 0px;
}
.checkout-controlbar{
	border: 1px solid #2b90d9;
    display: inline-block;

}
.market-content{
	padding: 6px;
}
.place-order{
	cursor: pointer;
    padding: 1px 5px;
    background: #2b90d9;
    color: #fff;
    border: 1px solid #d9e1e8;
    line-height: 19px;
    margin: 1px;
}
.place-order:hover{
	color: #d9e1e8;
    border: 1px solid #d9e1e8;
    opacity: 0.7;
}
.grand-total{
	line-height: 19px;
    margin: 3px;
    color: #ff0000;
}
.grand-total{
    color: #ff0000;
    margin: 3px;
    line-height: 19px;
}