<div class="address-info colw100">
	<div class="billing-info col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
		<h6 class="blue-fonts">Billing Address</h6>
		<form [formGroup]="billingForm">
			<div class="form-group">
				<select [(ngModel)]="billingTitleOption" class="form-control" placeholder="Please Select" formControlName="bilingTitle">
		        	<option *ngFor="let o of titleOptions">
		          		{{o.name}}
		        	</option>
		      	</select>
		      	<app-control-messages [control]="billingForm.controls.bilingTitle"></app-control-messages>
		    </div>
		    <div class="form-group">
				<input type="text" class="form-control" placeholder="First Name" formControlName="firstName" id="firstName">
				<app-control-messages [control]="billingForm.controls.firstName"></app-control-messages>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" id="lastName">
				<app-control-messages [control]="billingForm.controls.lastName"></app-control-messages>
			</div>
	    </form>	
	</div>
	<div class="shipping-info col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
		<h6 class="blue-fonts">Shipping Address</h6>
		<form [formGroup]="shippingForm">
			<div class="form-group">
				<select [(ngModel)]="billingTitleOption" class="form-control" placeholder="Please Select" formControlName="shippingTitle">
		        	<option *ngFor="let o of titleOptions">
		          		{{o.name}}
		        	</option>
		      	</select>
		      	<app-control-messages [control]="shippingForm.controls.shippingTitle"></app-control-messages>
		    </div>
		    <div class="form-group">
				<input type="text" class="form-control" placeholder="First Name" formControlName="sfirstName" id="firstName">
				<app-control-messages [control]="shippingForm.controls.sfirstName"></app-control-messages>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Last Name" formControlName="slastName" id="lastName">
				<app-control-messages [control]="shippingForm.controls.slastName"></app-control-messages>
			</div>
	    </form>	
	</div>
</div>