.notification-pic{
    height: 35px;
    width:  35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    margin: 3px; 
    border: 1px solid #e6e6e6;
}
.not-msg{
    max-width: 217px;
    line-height: 18px;
    word-break: break-word;
    text-align: left;
    float: left;
}
