.profile-pic{
    margin: -3px 2px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 5px;
    border-radius: 50%;  	
}
.feed-controls .fa-thumbs-up, .feed-controls .fa-heart, .feed-controls .fa-comment{
    margin: 0px 3px 0px 0px;
}
 .feed-controls .fa-heart, .feed-controls .fa-comment{
 	margin: 0px 3px;
 }
 .feed-edit-items .arrow-up{
 	margin-left: 75px !important;
 }
 .feed-edit-items{
    position: absolute !important;
    right: 1px !important;
    margin-top: 23px;
    z-index: 1000;
 }
 .edit-feed:hover{
 	color: red;
 }
 .posted-pic, .feed-music-player{
    display: inline-block;
    background-size: cover !important;
    min-height: 300px;
    width: 100%;
    margin: 5px 0px;
    background: #000;
 }
 .feed-music-player{

 }

