<div *ngIf="isEditFeedItem; then editFeedItemControls"></div>
<ng-template #editFeedItemControls>
	<div class="list-items feed-edit-items font-items pull-right">
		<div class="arrow-up white-bg"></div>
		<div *ngIf="isMyFeed; then editThisFeedItem else reportThisFeedItem"></div>
		<ng-template #editThisFeedItem>
			<div class="cursor-pointer list-item" (click)="editFeedItem($event)">Edit</div>
			<div class="cursor-pointer list-item" (click)="deleteFeedItem();"><span>Delete</span></div>
		</ng-template>
		<ng-template #reportThisFeedItem>
			<div class="cursor-pointer list-item" (click)="moveClick($event)">Report</div>
		</ng-template>
		<div class="cursor-pointer list-item" (click)="selectClick($event)">Hide</div>
		<div class="cursor-pointer list-item" (click)="defaultClick($event)">Tag</div>
	</div>
</ng-template>
<div class="profile-pic no-padding pull-left contain-bg" [ngStyle]="{ 'background-image': 'url(' + item.profilepic + ')'}">
</div>
<div class="full-name blue-fonts bold-fonts pull-left">{{item.fullname}}</div>
<div class="pull-left blue-fonts time-ago"><span>&nbsp;posted&nbsp;</span>{{feedMoment}}</div>
<div class="pull-right edit-feed hand-cursor">
	<i aria-hidden="true" class="fa fa-pencil-square-o blue-fonts" id="editItem" (click)="clickedInside($event);"></i>
</div>
<div *ngIf="item.type === 'text'; then textFeed"></div>
<div *ngIf="item.type === 'image'; then imageFeed"></div>
<div *ngIf="item.type === 'music'; then musicFeed"></div>
<div *ngIf="item.type === 'checkin'; then checkinFeed"></div>
<ng-template #textFeed>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.post" [ngStyle]="{
				'font-weight':' '+ item.fontWeight +'', 
				'font-size':' '+ item.fontSize +'', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
</ng-template>
<ng-template #imageFeed>
	<div class="posted-pic pull-left" [ngStyle]="{'background': 'url(' + item.filePath+ ')'}"></div>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.title" [ngStyle]="{
				'font-weight':'bold', 
				'font-size':'12px', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.description" [ngStyle]="{
				'font-weight':' '+ item.fontWeight +'', 
				'font-size':' '+ item.fontSize +'', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
</ng-template>
<ng-template #checkinFeed>
	<div class="posted-pic pull-left" [ngStyle]="{'background': 'url(' + item.filePath+ ')'}"></div>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.title" [ngStyle]="{
				'font-weight':'bold', 
				'font-size':'12px', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.description" [ngStyle]="{
				'font-weight':' '+ item.fontWeight +'', 
				'font-size':' '+ item.fontSize +'', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
</ng-template>
<ng-template #musicFeed>
	<audio #musicPlayer  preload="none" controls class="feed-music-player">
        <source src="{{item.filePath}}" type="audio/mp3">
        <p>Your browser does not support the HTML5 Audio element.</p>
    </audio>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.title" [ngStyle]="{
				'font-weight':'bold', 
				'font-size':'12px', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
	<div class="feed-item colw100 inline-block no-outline auto-overflow pull-left" [innerHTML]="item.description" [ngStyle]="{
				'font-weight':' '+ item.fontWeight +'', 
				'font-size':' '+ item.fontSize +'', 'font-family':' '+ item.fontFamily +'', 'font-style': ' '+ item.fontStyle +' ', 'text-decoration': ' '+ item.textDecoration +' ',
				'color':' '+ item.colorInfo +''}" >
	</div>
</ng-template>

<div class="colw100 feed-controls">
	<div class="pull-left blue-fonts inline-block cursor-pointer" (click)="likeClick($event)"> 
		<div *ngIf="alreadyLiked === true; then thumbsDown else thumbsUp"></div>
		<ng-template #thumbsUp>
			<span>
				<i class="fa fa-thumbs-up"></i>
			</span>
		</ng-template>
		<ng-template #thumbsDown>
			<span>
				<i class="fa fa-thumbs-down"></i>
			</span>
		</ng-template>
		<div *ngIf="likeCount > 0; then  likeItemsCount else likeItemCount">
  		</div>
  		<ng-template #likeItemsCount>
  			<span>{{likeCount}}</span>
  			<span>Like</span>
		</ng-template>
  		<ng-template #likeItemCount>
  			<span>Like</span>
		</ng-template>
	</div>	
	<div class="pull-left blue-fonts cursor-pointer" (click)="loveClick($event)">
		<div *ngIf="alreadyLoved === true; then lovedSymbol else loveSymbol"></div>
		<ng-template #lovedSymbol>
			<span>
				<i class="fa fa-heart red-fonts"></i>
			</span>
		</ng-template>
		<ng-template #loveSymbol>
			<span>
				<i class="fa fa-heart blue-fonts"></i>
			</span>
		</ng-template>
		<div *ngIf="loveCount > 0; then  loveItemsCount else loveItemCount">
  		</div>
  		<ng-template #loveItemsCount>
  			<span>{{loveCount}}</span>
  			<span>Love</span>
		</ng-template>
  		<ng-template #loveItemCount>
  			<span>Love</span>
		</ng-template>
	</div>
	<div class="pull-left cursor-pointer blue-fonts" (click)="commentClick($event)"><i class="fa fa-comment"></i><span>Comment</span>
	</div>
	<ng-template [ngIf]="isCommentsAdded">
		<div class="comment-box">
			<div class="comment-box-items" #commentBoxItems>
				<!--<div class="inline-block colw100" *ngFor="let commentItem of feedItemCommentArr">
					{{commentItem.commenttext}}
				</div>-->
				<app-commentitem *ngFor="let commentItem of feedItemCommentArr" 
				(refreshUpdatedComment)="refreshCommentItem($event)" [commentItem]="commentItem" [userId]="userId"  (refreshFeed)="refreshFeedItem($event)" (editCurrentCommentItem)= "editCurrentCommentItem($event)">
				</app-commentitem>

				<ng-template [ngIf]="isViewMore">
					<div class="colw100 inline-block">
						<div class="view-more text-center hand-cursor blue-fonts" (click)="viewMore($event)">View More</div>
					</div>
				</ng-template>
				<div *ngIf="isLoading then loading"></div>
				<ng-template #loading>
					<div class="spinner-bg">
						<div class="spinner">
							<i class="fa fa-2x fa-spin fa-spinner blue-fonts"></i>
							<span class="blue-fonts">&nbsp;Loading...</span>
						</div>
					</div>
				</ng-template>
				<div *ngIf="(!isViewMore && (total > limit)) then endResult"></div>
				<ng-template #endResult>
					<div class="end-result blue-fonts text-center colw100 inline-block">--- End Of Result ---</div>
				</ng-template>
			</div>
		</div>
	</ng-template>
</div>
<div class="pull-left colw100 inline-block">
	<ng-template [ngIf]="addComment">
		<app-story-box [action]="action" [feedCommentItem]="item" (refreshCommentItem)="refreshCommentItem($event)"></app-story-box>
	</ng-template>	
</div>


