.profile-pic{
    margin: -3px 2px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 5px;
    border-radius: 50%;  	
}
.feed-controls .fa-thumbs-up, .feed-controls .fa-heart, .feed-controls .fa-comment{
    margin: 0px 3px 0px 0px;
}
 .feed-controls .fa-heart, .feed-controls .fa-comment{
 	margin: 0px 3px;
 }
 .feed-edit-items .arrow-up{
 	margin-left: 75px !important;
 }
 .feed-edit-items{
    position: absolute !important;
    right: 18px !important;
    margin-top: 16px;
    z-index: 1000;
 }
 .edit-feed:hover{
 	color: red;
 }
 .posted-pic, .feed-music-player{
    display: inline-block;
    background-size: cover !important;
    min-height: 300px;
    width: 100%;
    margin: 5px 0px;
    background: #000;
 }
 .feed-music-player{

 }
 .feed-controls .pull-left{
    margin-right: 10px;
 }
.comment-box{
    width: 100%;
    display: inline-block;
}
.comment-box-items{
    border: 1px solid #2b90d9;
    width: 280px;
    border-radius: 3px;
    padding: 3px;
    /*max-height: 220px;*/
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.view-more{
    width: 60px;
    padding: 3px 0px;
    margin: auto;
}
 app-commentitem{
    display: inline-block;
    width: 100%;
 }
 .feed-item{
    word-wrap: break-word;
 }
