<div class="blue-fonts"><h4 class="text-center">Please Login</h4></div>
<form [formGroup]="loginForm">
	<div class="form-group">
		<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email" id="email">
		<app-control-messages [control]="loginForm.controls.email"></app-control-messages>
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" formControlName="password" id="password">
		<app-control-messages [control]="loginForm.controls.password"></app-control-messages>
	</div>
	<div class="form-group row justify-content-center align-items-center no-margin">
		<button type="button" class="btn btn-primary" (click)="showSignUp()">
			<i class="fa fa-sign-in rotate-left" aria-hidden="true">
			</i><span>Sign Up</span>
		</button>
		<button id="loginBtn" type="button" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="logIn()">
			<span>Log in</span>
			<i class="fa fa-sign-in" aria-hidden="true"></i>
		</button>
	</div>
	<div [ngClass]="{'error-message': isError, 'status-message': isStatus}">
		<div class="server-msg text-center">{{serverMessage}}</div>
	</div>
</form>