input{
	border-radius: 0px;
    background: none;
    border: 1px solid #2b90d9;
}

.mock-img{
	background: #fff;
    height: 200px;
    padding: 75px;
}

.mock-img i{
	font-size: 50px;
    vertical-align: middle;
    margin: auto;
    width: 55px;
    display: block;
}
.cropped-item-img{
    display: none;
}
.file-input-container{
    display: none;
}

.add-item-content{
    padding: 20px 0px;
}
.form-group{
    margin: 10px 0px;
}
.fa-upload:hover{
    color: #fff !important;
}
.link-btn:hover{
    color: #fff !important;
}