<app-private-nav></app-private-nav>
<div class="container top-margin bottom-margin">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="opaque-bg no-padding">
				<app-profile-area></app-profile-area>
				<div class="left-nav">
					<div class="nav-item" (click)="switchVideo($event)" [ngClass]="(isHighLightVideos ? 'highlight-nav' : '')">
						<i class="fa fa-file-video-o blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Videos</span>
					</div>
					<div class="nav-item" [ngClass]="(isHighLightMusic ? 'highlight-nav' : '')" (click)="switchMusic($event)">
						<i class="fa fa-music blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Music</span>
					</div>
					<div class="nav-item" [ngClass]="(isHighLightPhotos ? 'highlight-nav' : '')" (click)="switchPhotos($event)"><i class="fa fa-file-image-o blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Photos</span> 
					</div>
					<div class="nav-item">
						<i class="fa fa-list-alt blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Play List</span>
					</div>
					<div class="nav-item">
						<i class="fa fa-book blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Album</span>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding mobile-padding">
			<div class="opaque-bg video-content">
				<ng-template [ngIf]="isVideo">
					<app-video-player></app-video-player>
				</ng-template>	
				<ng-template [ngIf]="isMusic">
					<app-music-player></app-music-player>
				</ng-template>	
				<ng-template [ngIf]="isPhotos">
					<app-photos></app-photos>
				</ng-template>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-panel">
			<div class="opaque-bg">
				<app-info-panel></app-info-panel>
			</div>
		</div>
	</div>
</div>