.video-content{
	padding: 5px;
}
.left-nav{
	padding: 5px;
}
.left-nav .nav-item{
	padding: 2px;
}
.left-nav .nav-item:hover{
	background: #2b90d9;
	cursor: pointer;
}
.left-nav .nav-item:hover i, .left-nav .nav-item:hover span{
	color: #fff !important;
	
}

.highlight-nav{
	background: #2b90d9;
}
.highlight-nav i, .highlight-nav span{
	color: #fff !important;
}