<app-private-nav></app-private-nav>
<div class="container top-margin bottom-margin">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="opaque-bg no-padding">
				<app-profile-area></app-profile-area>
				<div class="left-nav">
					<div class="nav-item highlight-nav">
						<i class="fa fa-file-video-o blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Videos</span>
					</div>
					<div class="nav-item">
						<i class="fa fa-music blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Music</span>
					</div>
					<div class="nav-item"><i class="fa fa-file-image-o blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Photos</span> 
					</div>
					<div class="nav-item">
						<i class="fa fa-list-alt blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Play List</span>
					</div>
					<div class="nav-item">
						<i class="fa fa-book blue-fonts" aria-hidden="true"></i>
						<span class="blue-fonts">Album</span>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
			<div class="opaque-bg video-content">
				<app-video-player></app-video-player>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-panel">
			<div class="opaque-bg">
				<app-info-panel></app-info-panel>
			</div>
		</div>
	</div>
</div>