select {
/*	-webkit-appearance: none;*/
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
  width: 200px;
  border: 1px solid #2b90d9;

}

.form-group input{
	width: 200px;
	/*border-radius: 0px;*/
	background: none;
	border: 1px solid #2b90d9;
}

#creditForm{
	width: 200px;
	margin: auto;
}
.credit-card-info{
	padding: 10px 0px;
}
.expiry-detail input{
	width: 50px !important;
}