<div class="container no-padding">
  	<div class="pull-left col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding map-content">
	  	<agm-map id="mapItem" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
	    	<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	  	</agm-map>
  	</div>
  	<div class="pull-left col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding loc-content">
	  	<div class="form-group">
	    	<input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" [(ngModel)]="postCheckIn">
	  	</div>
	  	<div class="form-group">
			<textarea #desc class="form-control no-resize no-bg no-brder-radius blue-fonts blue-border" rows="5" cols="30" placeholder="Add Description..." id="postDesc" [(ngModel)]="postDesc">
			</textarea>
		</div>
	  	<div class="colw100 inline-block">			
			<button id="okBtn" type="button" class="btn btn-primary text-center small-btn ok-btn" (click)="checkIn($event)" [disabled]="isProgress">
				<span class="pull-left">Post</span>
				<i class="fa fa-share-square-o" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>