.comment-controls .fa-thumbs-up, .comment-controls .fa-heart, .comment-controls .fa-comment{
    margin: 0px 3px 0px 0px;
}
 .comment-controls .fa-heart, .comment-controls .fa-comment{
 	margin: 0px 3px;
 }
 .comment-edit-items{
 	position: absolute;
 	left: 245px;
 	margin-top: 15px;
 }
 .comment-profile-pic{
 	height: 26px;
 	width: 26px;
 	border-radius: 50%;
 }
.full-name{
	padding-left: 3px;
}