<div class="row profile-card">
    <app-modal [modalTitle]="'Profile Pic Preview'" [blocking]='false' [modalId]='modalId' #previewPicModal 
    (onModalClose)="onModalClosed()">
    	<div *ngIf="isProfilePicControls;then profilePicControls else profilePicCam"></div>
    	<ng-template #profilePicControls>
	    	<div class="preview-profile-pic">
	    		<!--<img id="previewProfilePic" src="{{encodedImage}}"/>-->
			    <app-image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [resizeToWidth]="150" format="jpeg" 
			    (imageCropped)="imageCropped($event)"></app-image-cropper>
	    	</div>
	    	<img class="cropped-preview-img" *ngIf="croppedImage" [src]="croppedImage" (load)="computeCroppedImage()"/>
	      	<div>			
	    		<button id="okBtn" type="button" class="btn btn-primary text-center small-btn ok-btn" (click)="ok()">
					<span class="pull-left">Ok</span>
					<i class="fa fa-floppy-o" aria-hidden="true"></i>
				</button>
			</div>
		</ng-template>
		<ng-template #profilePicCam >
			<app-capture-pic (onCapturePic)="onPicCaptured()" (onCamRender)="onCamRendered()"></app-capture-pic>
		</ng-template>
    </app-modal>
	<div class="file-input-container">
		<!--<form [formGroup]="profilePicUploadForm" action="/upload" method="post" enctype="multipart/form-data">
			<div class="form-group" [formGroup]="profilePicGroup">
	  			<input type="file" class="file-input" name="uploadfile" #fileInput (change)="fileChangeEvent($event)"/>
	  		</div>
		</form>-->
		<input type="file" class="file-input" name="uploadfile" #fileInput (change)="fileChangeEvent($event)"/>
	</div>
	<!--<div class="profile-pic" [ngStyle]="{ 'background-image': 'url(' + profilePic + ')', 'height': 'auto', 'width': profilePicWidth}">-->
	<div class="profile-pic" [ngStyle]="{ 'background-image': 'url(' + profilePic + ')'}">
	<!--<div class="profile-pic">
		<img [src]="profilePic"/>-->
		<div class="title-bar">
			<div class="pull-left cam-icon">
				<i class="fa fa-camera white-fonts hand-cursor" aria-hidden="true" (click)="camInputClick()"></i>
			</div>
			<div class="upload-icon"><i class="fa fa-upload white-fonts hand-cursor" aria-hidden="true" 
			(click)="fileInput.value = ''; fileInput.click()"></i></div>
		</div>
	</div>

	<div class="colw100 user-info">
		<div class="row no-margin full-name hand-cursor" (click)="navigateToMyProfile($event);"><h4 class="no-margin">{{fullName}}</h4></div>
		<div class="row no-margin email-id"><a href="mailto:" class="no-text-decoration">{{userId}}</a></div>
	<div>
</div>
