<app-private-nav></app-private-nav>

<div class="container top-margin bottom-margin">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="opaque-bg no-padding">
				<app-profile-area></app-profile-area>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding tile-menu-container">
			<div class="opaque-bg">
				<app-tile-menu></app-tile-menu>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-panel">
			<div class="opaque-bg">
				<app-info-panel></app-info-panel>
			</div>
		</div>
	</div>
</div>
<!--<app-video></app-video>-->
<!--<app-avchat></app-avchat>-->
