<div class="video-container">
	<video #previewVideo id='videoPreview'controls autoplay>
		<!--<source id='previewMP4'
    	src="{{previewMP4VideoPath}}" 
    	type='video/mp4'>
			<p>Your browser does not support the HTML5 Video element.</p>-->
	</video>
</div>
<div class="prev-btn-group row justify-content-center align-items-center colw100 no-margin">
	<button type="button" class="btn btn-primary" (click)="shareVideo($event)">
		<i class="fa fa-share rotate-left" aria-hidden="true"></i>
		<span>Share</span>
	</button>
	<button type="button" class="btn btn-primary" (click)="deletePreviewVideo($event)">
		<span>Delete</span>
		<i class="fa fa-trash" aria-hidden="true"></i>
	</button>
</div>
<div *ngIf="isShareVideo ; then postVideo"></div>
<ng-template #postVideo>
	<div class="share-video" (click)="clickedInside($event)">
	   	<form [formGroup]="videoForm">
	        <div class="form-group">
	            <input type="text" class="form-control no-bg no-brder-radius blue-fonts blue-border" placeholder="video title" formControlName="videoTitle" 
	            [(ngModel)]="videoTitle"/>
	        </div>
	        <div class="form-group">
	        	<textarea class="form-control no-resize no-bg no-brder-radius blue-fonts blue-border" rows="5" cols="30" placeholder="Add Description..." 
	        	formControlName="videoDesc" [(ngModel)]="videoDesc"></textarea>
	        </div>
	        <div class="form-group row justify-content-center align-items-center no-margin">
	            <button type="button" class="btn btn-primary">
	                <i class="fa fa-times no-margin" aria-hidden="true"></i>
	                <span>Cancel</span>
	            </button>
	            <button type="button" class="btn btn-primary">
	                <span>Post</span>
	                <i class="fa fa-pencil-square" aria-hidden="true"></i>
	            </button>
	        </div>
	        <div [ngClass]="{'error-message': isError, 'status-message': isStatus}">
	            <div class="server-msg text-center">{{serverMessage}}</div>
	        </div>
	    </form>
	</div>
</ng-template>