<div class="video-icon-container">
	<div class="colw100 video-edit-icon"><i class="fa fa-pencil-square white-fonts pull-right" aria-hidden="true" (click)="editVideoAlbum($event)"></i></div>
	<div class="colw100 blue-fonts bold-fonts cursor-pointer" (click)="showVideoList($event)"><span>{{item.title}}</span></div>
	<div class="colw100 blue-fonts"><span>{{item.videosList.length}}</span><span> videos</span></div>
	<div class="colw100 blue-fonts"><span>{{item.created | date: 'dd/MM/yyyy'}}</span></div>
</div>
