.video-edit-icon{
	display: inline-block;
    background: #2b90d9;
    /* margin-top: -2px; */
    height: 16px
}   
.video-edit-icon .fa-pencil-square{
	margin-right: 2px;
	font-size: 15px;
}
.video-edit-icon .fa-pencil-square:hover{
	color: #e9ebee;
	cursor: pointer;
}
.video-icon-container .blue-fonts{
	padding-left: 3px;
}